.stem__favorite {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--signature);
  width: 100%;
  padding: 8px;
  background-color: var(--black02);
  .favorite-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 2%;
    p {
      padding-top: 4px;
    }
    .product-group {
      display: flex;
      width: 85px;
      p {
        font-weight: 500;
        padding-top: 4px;
      }
    }
    .favorite-row:hover {
      background-color: var(--black02);
    }
  }
}