{
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "all",
  "printWidth": 240,
  "proseWrap": "never",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false
      }
    }
  ]
}
