.dynamic-box {
  height: 300px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  background-color: var(--signature);
  box-shadow: var(--shadow);
  border-radius: 10px;
  &__title {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding: 8px 0px 3px 0px;
  }
  &__content {
    height: 100%;
    background-color: var(--black01);
  }

}
@media only screen and (max-width: 1400px) {
 .dynamic-box {
  margin: 0 auto;
  border-radius: 10px;
 }
}
